name: URL Rewriter Testing

on: [push]

jobs:
    run_tests:
        name: Run Tests for PHP 7.1 to 7.4.
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php: [7.1, 7.2, 7.3, 7.4]

            fail-fast: false
        steps:
            - name: Checkout
              uses: actions/checkout@master

            - name: Validate composer.json and composer.lock
              run: composer validate

            - name: Setup PHP
              uses: ./
              with:
                  php-version: ${{ matrix.php }}

            - name: Install dependencies
              run: composer install --prefer-dist --no-progress --no-suggest

            - name: Run PHPUnit test suite
              run: vendor/bin/phpunit
